<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CS-QUIZ</title>
  </head>
  <body>
    <form
      name="myform"
      action="/result"
      onsubmit="return validateForMe()"
      method="POST"
    >
      <h1>Perform Your Calculation</h1>
      <br />
      <label for="operation">operation</label><br />
      <select name="operation" id="operation">
        <option value=""></option>
        <option value="add">add</option>
        <option value="product">product</option></select
      ><br /><br />
      <label for="number1">Number 1</label><br />
      <input type="text" name="number1" id="number1" /><br /><br />
      <label for="number2">Number 2</label><br />
      <input type="text" name="number2" id="number2" /><br /><br />
      <input type="submit" value=" Get Result" />
    </form>
    <script>
      function validateForMe(e) {
        var number1 = document.myform.number1.value;
        var number2 = document.myform.number2.value;
        var operation = document.getElementById('operation');
        let index = operation.selectedIndex;

        if(operation.options[index].value === '') {
          alert('Select an operator');
          return false;
        }
        
        if (isNaN(number1) || isNaN(number2)) {
            alert("Please enter valid numbers only");
           return false;
        }

        return true;
     }

    </script>
  </body>
</html>
